In [2]:
import numpy as np
import pandas as pd

In [3]:
dt = pd.read_csv('dataset_devcamp.csv')
dt.describe()

,record_ID,store_id,sku_id,total_price,base_price,is_featured_sku,is_display_sku,units_sold
count,133980.000000,133980.000000,133980.000000,133980.000000,133980.000000,133980.000000,133980.000000,133980.000000
mean,94818.230079,9199.422511,254761.132468,205.977719,218.694914,0.094096,0.132893,51.770645
std,54769.102250,615.591692,85547.340828,103.369888,110.710208,0.291964,0.339460,60.623927
min,1.000000,8023.000000,216233.000000,41.325000,61.275000,0.000000,0.000000,1.000000
25%,47417.750000,8562.000000,217217.000000,129.675000,133.237500,0.000000,0.000000,20.000000
50%,94815.500000,9371.000000,222087.000000,197.362500,205.912500,0.000000,0.000000,35.000000
75%,142246.250000,9731.000000,245338.000000,232.987500,234.412500,0.000000,0.000000,62.000000
max,189717.000000,9984.000000,679023.000000,533.662500,533.662500,1.000000,1.000000,2876.000000